.nav {
	position: fixed; /*고정시키기 위한 코드 + position할 때마다 width 필수작성*/
	width: 100%;
	background-color: #fcfcfc;
	padding: 20px 50px;
	bottom: 0px;
	left: 0px;
	border: 1px solid #f7f7f7;
}

.nav .nav_list {
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.nav i {
	font-size: 20px;
}

.nav .nav__list-lick {
	position: relative;
}

.nav .nav__badge {
	position: absolute;
	bottom: 29px;
	right: 283px;
	font-size: 10px;
	color: white;
	background-color: #dc5d46;
	width: 18px;
	height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

@keyframes showNavBar{
	from{
		transform: translateY(80px);
	}
	to{
		transform: none;
	}
}

.nav{
	transform: translateY(80px);
	animation: showNavBar 0.5s ease-out forwards;
	animation-delay: 0.5s;
}